{% extends 'layouts/base.html'%}

{% block content%}
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis expedita eos impedit cum, repellendus nemo excepturi. Officia voluptas voluptatum aperiam adipisci, ullam qui illo reprehenderit fuga quos itaque, alias possimus enim. Quis quaerat cupiditate aperiam? Fugiat, perspiciatis aperiam animi cupiditate fugit error exercitationem cum consequuntur expedita laudantium necessitatibus neque atque rerum molestiae assumenda aut dignissimos molestias nemo? Explicabo sit architecto ea perferendis repellat aut quia, dignissimos, labore, minima eum animi corrupti cum recusandae maxime ducimus quae tempore. Odit incidunt itaque, libero eos dolorum expedita magnam est culpa molestias voluptates nihil sequi similique deleniti, placeat quasi quam, vero accusamus quos repudiandae.</p>

<p>Website create by {{username}}</p>

{%endblock%}
